body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card {
  background: #111;
  padding: 25px;
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255,255,255,0.05);
  text-align: center;
}

h1 {
  color: white;
  margin-bottom: 20px;
  font-weight: 600;
}

.inputBox {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background: #000;
  color: white;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  color: black;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #000;
  border: 1px solid #222;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  background: #fff;
  color: #000;
  margin-right: 5px;
}

.delete {
  background: #444;
  color: white;
}